# Ignore file yang gk dibutuhin cuy
.vscode/
CPP/Program/main.exe
Python/Program/__pycache__/
Python/main.pyc
Java/Program/Kategori.class
Java/Program/Barang.class
Java/Program/DetailBarang.class
Java/Program/Main.class